<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- <typeAliases>
  	<package name="com.my.model" />
  	패키지단위로 별칭 부여하기. 애노테이션에 별칭을 만듬 @Alias("EmpDTO")
  </typeAliases> -->
</configuration>